.App {
  text-align: center;
}

$dark-text: #0f0f0f;
$light-text:#fcfcfc;
$light-bg: #f0f0f0;
$dark-bg: #282c34;
$black: #000;
$white: #fff;
$dark-bg-secondary: #33373E;

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f0f0f0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dark {

  .container {
    background-color: $dark-bg !important;
    color: $light-text !important;

    .main-container-inner{
      label{
        color: $light-text !important;
      }
      span{
        color: $light-text !important;
      }
      .custom-input{
        border: 1px solid $light-text
      }
    }
  }
  .sidebar{
    background-color: $dark-bg-secondary !important;
    color: $light-text !important;

    .normallink{
      color: $light-text !important;
    }
   
  }
  .theme-float-right{
    background-color: $dark-bg-secondary !important;
    color: $light-text !important;
  }
}

.light {
  .container {
    background-color: $light-bg !important;
    color: $dark-text !important;
    .main-container-inner{
      label{
        color: $dark-text !important;
      }
      span{
        color: $dark-text !important;
      }
      .custom-input{
        border: 1px solid $light-text
      }
    }
  }
  .sidebar{
    background-color: $white !important;
    color: $dark-text !important;
    .normallink{
      color: $dark-text !important;
    }
  }
  .theme-float-right{
    background-color: $white !important;
    color: $dark-text !important;
  }
}

hr {
  color: $dark-text;
}

.container {
  display: flex;
  position: relative;

  .theme-tooltip-main {
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    .theme-tooltip-main-button {
      padding: 0.75rem 0.75rem 0.6rem;
      color: $dark-text;
      font-size: 1.875rem;

      :hover {
        --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

      }

    }

  }

  .theme-main {

    .theme-float-right {
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      z-index: 9999;
      float: right;
      background-color: #ffffff;
      height: 100vh;
      transition: width 0.5s;

      &.show {
        width: 20%;
      }

      &.hide {
        width: 0;
      }

      .theme-tooltip {
        display: flex;
        padding: 1rem;
        margin-left: 1rem;
        justify-content: space-between;
        align-items: center;

        .theme-text {
          font-size: 1.125rem;
          line-height: 1.75rem;
          font-weight: 600;

        }

        .theme-button {
          padding: 0.75rem 0.75rem 0.6rem;
          font-size: 1.5rem;

          :hover {
            --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
            filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          }
        }

      }

      .theme-container {
        padding: 1rem;
        margin-left: 1rem;
        flex-direction: column;

        .theme-heading {
          font-size: 1.125rem;
          line-height: 1.75rem;
          font-weight: 600;


        }

        .mt-4 {
          margin-top: 1rem;
        }

        .ml-2 {
          margin-left: 0.5rem;
        }

        .cursor-pointer {
          cursor: pointer;
        }
      }
    }
  }

  .main-container {
    padding: 2rem;
    padding-left: 10rem;
    transition: width 0.5s;

    .main-header {
      padding: 2rem 2rem 2rem 0;
    }

    .main-container-inner {
      display: block;
      margin-top: 3rem;

      .custom-input {
        width: 100%;

        min-height: 48px;
        font-size: 0.875rem;
        color: $black;
        line-height: 1.21428571em;
        padding: 0.67857143em 1em;
        border-radius: 0.28571429rem;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        span {
          margin-left: 0.5rem;
        }

        // &:hover {
        // 	border-color:
        // }
      }

      .preview-container{
        
        height: 80rem;
        width: 80%;
        margin: 0 auto;
        .preview{
          background-color: $white;
          color: $dark-text;
          border: 1px solid lightgray;
          border-radius: 5px;
          padding: 2rem 3rem;
          
        }
      }
      
      .template-header{
        text-align: center;
       margin: 2rem;

      }
    }
  }


  .sidebar {
    position: fixed;
    background-color: #ffffff;
    transition: width 0.5s;
    overflow: auto;
    padding-bottom: 2.5rem;
    margin-left: 0.75rem;
    height: 100vh;


    @media (min-width: 768px) {
      overflow: hidden;
    }

    &.show {
      width: 18rem;
    }

    &.hide {
      width: 0;
    }

    .sidebar-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 3rem;
    }

    .sidebar-link {
      display: flex;
      margin-left: 0.75rem;
      margin-top: 1rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 800;
      letter-spacing: -0.025em;
      align-items: center;
      gap: 0.75rem;

    }

    .sidebar-elements {
      margin-top: 2.5rem;
    }

    .sidebar-button {
      display: block;
      padding: 0.75rem;
      margin-top: 1rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
      border-radius: 9999px;


      @media (min-width: 768px) {
        display: none;
      }

      :hover {}
    }

    .activelink {
      display: flex;
      padding-bottom: 0.625rem;
      padding-top: 0.75rem;
      padding-left: 0.5rem;
      margin: 0.5rem;
      color: #ffffff;
      align-items: center;
      border-radius: 0.5rem;
      gap: 1.25rem;

    }

    .normallink {
      display: flex;
      padding-bottom: 0.625rem;
      padding-top: 0.75rem;
      padding-left: 0.5rem;
      margin: 0.5rem;
      color: #374151;
      align-items: center;
      border-radius: 0.5rem;
      gap: 1.25rem;






      :hover {}

    }

  }

  .sidebar-main-closed {}

  .active {
    width: 100%;
    min-height: 100vh;

    &.activemenu {
      @media (min-width: 768px) {
        margin-left: 18rem;
      }
    }

    &.notactivemenu {
      flex-grow: 2;
    }
  }

  .navbar-main {
    position: fixed;
    width: 100%;


    @media (min-width: 768px) {
      position: static;
    }

    .sidebar-navbutton {
      position: relative;
      padding: 0.75rem 0.75rem 0.6rem;
      
      border-radius: 9999px;

      :hover {}

      .icon {
        display: inline-flex;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 9999px;


      }
    }

    .navbar {
      display: flex;
      position: relative;
      padding: 0.5rem;
      justify-content: space-between;


      @media (min-width: 768px) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }

      .flex {
        display: flex;
      }
    }

  }
}